@mixin transform($transforms) {
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// rotate
@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
    @include transform(scale($scale));
}

// translate
@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}

// skew
@mixin skew ($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
}

//transform origin
@mixin transform-origin ($origin) {
    -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;
}

@mixin keyframes ($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin animation ($animation, $delay, $duration, $timing, $iteration) {
    -webkit-animation-name: $animation;
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: $timing;
    -webkit-animation-iteration-count: $iteration;
    animation-name: $animation;
    animation-delay: $delay;
    animation-duration: $duration;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
    animation-timing-function: $timing;
    animation-iteration-count: $iteration;
}