.card {
    margin: 20px auto;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}

/**
 * Layout classes
 */
.flex-container {
    margin: 0;
    padding: 0;
    @include flexbox();
    @include flex-wrap(nowrap);
    @include justify-content(space-around);
}

.flex-section {
    @include flexbox();
    @include justify-content(center);
}

.flex-item {
    @include flex-grow(1);
}

.outer-item-box {
    margin-top: 12px;
}

.inner-item-box {
    margin-top: 8px;
}

/**
 * Animation classes
 */
.spin {
    @include animation(spin, 0, 1s, linear, infinite);
}

.wobble {
    @include animation(wobble, 0, 7s, linear, infinite);
}

@media (max-width: 360px) {
    #app {
        width: 320px;
        min-width: 320px;
    }   
}

#app {
    min-width: 360px;
}