$button-size: 30px;

.ctrl-buttons {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    width: 100%;
}

.button {
    padding: 0;
    width: $button-size;
    height: $button-size;
    border: none;
    background: none;
    line-height: $button-size;
    text-align: center;
    outline: none;

    & > svg {
        fill-opacity: 0.5;
        vertical-align: text-top;
    }

    &:hover > svg {
        fill-opacity: 1;
    }
}

.remove-button {
    float: left;
    &:hover > svg {
        fill: red;
    }
}

.refresh-button {
    float: right;
}