.loading {
    margin: 30px auto;
    text-align: center;
    font-size: 1.2em;
}

.loading-spots {
    margin: 0 auto;
    height: 22px;
    line-height: 22px;
    display: inline-block;

    & .spot {
        float: left;
        margin: 8px;
        width: 12px;
        height: 12px;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 100%;
    }

    & .spot:first-child {
        @include animation(bounced, -1s, 1.7s, ease-in-out, infinite);
    }

    & .spot:nth-child(2) {
        @include animation(bounced, -0.8s, 1.7s, ease-in-out, infinite);
    }

    & .spot:nth-child(3) {
        @include animation(bounced, -0.6s, 1.7s, ease-in-out, infinite);
    }

    & .spot:nth-child(4) {
        @include animation(bounced, -0.4s, 1.7s, ease-in-out, infinite);
    }

    & .spot:last-child {
        @include animation(bounced, -0.2s, 1.7s, ease-in-out, infinite);
    }
}
