.search-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #777;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 9999;

    & > form {
        line-height: 40px;
        height: inherit;
    }
}

.search-icon,
.search-input {
    position: absolute;
    top: 6px;
    height: 28px;
}

.search-icon {
    right: 184px;
    width: 28px;
    opacity: 0.3;
    z-index: 999;

    & > svg {
        position: absolute;
        left: 50%;
        top: 50%;
        @include translate(-50%, -50%);
    }
}

.search-input {
    position: absolute;
    top: 6px;
    right: 12px;
    width: 200px;
    padding-left: 30px;
    padding-right: 6px; 
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 0.9em;
    z-index: 100;
}

.results {
    position: absolute;
    top: 36px;
    right: 2px;
    width: 210px;
    max-height: 260px;
    padding: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    overflow: auto;
    border-radius: 3px;
    background: white;
    z-index: 10;

    & .result {
        padding: 4px 2px;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.8);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:hover {
            color: rgba(0, 0, 0, 1);
        }
    }
}





